@page
@model Gameficacao01.API.Pages.Equipes.Index
@{
    ViewData["Title"] = "Index";
}


<form method="get">
    <input type="text" asp-for="FiltroNome" placeholder="Filtrar por nome da Equipe" />
    <select asp-for="Ordenacao">
        <option value="NomeAsc">Nome (A-Z)</option>
    </select>
    <button type="submit" class="btn btn-primary">Aplicar</button>
</form>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col-md-4 text-end">
            <a asp-page="./Criar" class="btn btn-primary">Criar nova Equipe</a>
        </div>
    </div>

    <hr />

    <div class="mt-4">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.EquipesList[0].Id)</th>
                    <th>@Html.DisplayNameFor(model => model.EquipesList[0].Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.EquipesList[0].Descricao)</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var equipe in Model.EquipesList)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => equipe.Id)</td>
                        <td>@Html.DisplayFor(model => equipe.Nome)</td>
                        <td>@Html.DisplayFor(model => equipe.Descricao)</td>
                        <td>
                            <a asp-page="./Editar" asp-route-id="@equipe.Id"
                                class="btn btn-warning btn-sm me-2">Editar</a>
                            <a asp-page="./Visualizar" asp-route-id="@equipe.Id"
                                class="btn btn-info btn-sm me-2">Visualizar</a>
                            <a asp-page="./Deletar" asp-route-id="@equipe.Id" class="btn btn-danger btn-sm">Remover</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
